[Desktop Entry]
Name=libretaXournal
Exec=/home/gerard/Gerard/Projects/libreriaGrafica
Icon=/home/gerard/Música/plus-sign-icon-free-png.png
Type=Application
Terminal=false
